.markdown-content {
    @apply text-start;

    h1,
    h2,
    h2,
    h3,
    h4 {
        @apply text-start font-bold !important;
    }

    a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .unstyled-a) {
        @apply link text-primary link-hover;
    }
    div {
        @apply my-2;
    }
    ul {
        @apply my-2;
    }
    li {
        text-indent: -1em;
        @apply ml-8 my-1 text-start;
    }

    li::before {
        content: "â—";
        @apply pr-2;
    }

    h1:not(:first-of-type) {
        @apply my-20;
    }

    h2:not(:first-of-type) {
        @apply mt-16;
    }

    h3 {
        @apply mt-10;
    }

    h4 {
        @apply mt-6 mb-2 text-lg;
    }

    p {
        @apply text-base;
    }

    .alert-class {
        @apply my-2 text-base px-4 py-1 !important;
    }

    blockquote {
        @apply relative py-2 px-4 my-2 bg-base-200 rounded-r-btn text-start indent-0;
    }

    blockquote::before {
        content: "";
        @apply w-[4px] rounded-l-btn bg-primary absolute left-0 top-0 h-full;
    }
    img {
        @apply shrink-0 max-w-none !important;
    }

    code {
        word-break: normal;
        overflow-wrap: anywhere;
        font-family: monospace;
        @apply bg-base-content/15 px-[5px] py-[1px] rounded-md text-sm;
    }

    div:has(> table) {
        scrollbar-width: thin;
        scrollbar-color: theme("colors.base-content") / 20 transparent;
        @apply overflow-x-auto overflow-y-auto w-full contain-inline-size !important;
    }
    table {
        @apply table  !important;
        * {
            @apply border-base-content/20 !important;
        }
    }

    pre {
        @apply px-4 bg-base-300 rounded-lg my-4 text-wrap;
    }
}
