.tp-2xl {
    line-height: 1.25em !important;
    @apply mb-[1.25em] text-4xl lg:text-5xl font-bold;
}
.tp-xl {
    line-height: 1.1em !important;
    @apply mb-[1em] text-2xl lg:text-4xl font-semibold;
}
.tp-lg {
    @apply mb-[0.75em] text-xl lg:text-2xl font-medium;
}
.tp-sm {
    @apply text-sm;
}
.tp-xs {
    @apply text-xs;
}
